/* Set border-box sizing, makes things easier to size */
* {
 box-sizing: border-box;
}
/* Set background color on the 'body' of our html file */
body {
  background: #af2b14;
}
/* Set 'relative' positioning on the container element holding our image, make the container as tall as 100% of the screen and center any text content */
#container {
  position: relative;
  text-align: center;
  height: 100vh;
}
/* This block uses absolute positioning to center your image both vertically and horizontally in the screen; also sizes your mark */
#mark {
  position: absolute;
  top: 50%;
  width: auto;
  height: 420px;
  margin: -210px;
}
